name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  REGISTRY: registry-f2234338a3-natools.apps.ir-central1.arvancaas.ir
  IMAGE_NAME: natools

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: "."
          push: true
          tags: user/app:latest
          secrets: |
            GIT_AUTH_TOKEN=${{ secrets.MYTOKEN }}
